@import url('https://fonts.googleapis.com/css2?family=Murecho:wght@300;500;900&family=Nunito:wght@200;300;400;600;700&family=Open+Sans:ital,wght@0,600;0,700;1,400&family=Poppins:wght@300;500&family=Roboto:wght@300;400;500;700&display=swap');

*{
    font-family:Murecho,Poppins,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:#fff;
}

/*NAV*/
header{
    display:flex;
    justify-content:flex-end;
    align-items:center;
    padding: 30px 10%;
    position:sticky;
    top:5%;
    left:5%;
    transform: translate(0%,-50%);
}

.logo{
    cursor: pointer;
    margin-left: 110px;
}

.menu-items ul{
list-style: none;
}

.menu-items ul li {
    display:inline-block;
    padding: 0px 20px;
}

.menu-items li a {
    transition:all 0.3s ease 0s;
    color: #012C62;
    text-decoration: none;

}

.menu-items li a:hover{
    color:darkorange;
}

h1{
    text-align: center;
    color: #012C62;
    font-size: 30px;
    line-height:1.2;
    font-weight: bold;   
}

h1 a{
    text-decoration:none;
    transition:all 0.3s ease 0s;
    color: #012C62;
}

h1 a:hover{
    color:darkorange;
    
}

/*GALLERY HTML*/
.main-container {
display: flex;
flex-wrap: wrap;
justify-content:space-evenly;
border: 0.5rem solid #012C62;
margin-bottom:50px;
}

.gallery-image img{
object-fit: cover;
cursor: pointer;
width: 100%;
}

.gallery-info h3{
font-size: 18px;
font-weight: bold;
}

/*ABOUT*/
.about-container{
    font-size:20px;    
}

.about-container img{
   padding:30px;
       
}

.about-container{
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.left img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
.right > *{
    margin-bottom: 1.1rem;
    color: #012C62;
}


.right p{
    text-align: justify;
}

.btn{
    width: inherit;
    text-decoration: none;
    display: flex;
    justify-content:center;
    padding: 10px 35px;
    border: 2px solid #012C62;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    
}

.btn::after{
    content: "";
    background: darkorange;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    z-index: -1;
    transition: width .5s ease;
}

.btn:hover::after{
    width: 100%;
}

@media (max-width:768px){
    .grid{
        grid-template-columns: 1fr;
    }
}



/*SOCIAL MEDIA*/
.share{
    color:#012C62;
    font-size:16px;
    display:flex;
    gap:1rem;
    width:80%;
    height:100px;
    justify-content:flex-start;
    align-items: center;
    padding:3rem;
    justify-content:center;
    align-items:center;
}


/*ABOUT */